# Assignment_4 - Lists and Tuples
### Author : Neelkumar Kalavadiya
### Submission Date : 25/05/2022, Wednesday

<hr>Q1. What exactly is []?

<b>Solution:

* It is actually a empty list which contains no values or items in it

<hr>Q2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)
Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

<b>Solution:

In [1]:
spam = [2,4,6,8,10]
print(spam)
spam[2] = 'hello'
print(spam)

[2, 4, 6, 8, 10]
[2, 4, 'hello', 8, 10]

<hr>Q3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

<b>Solution:

* First int('3'*2) will be evaluated as 33 in integer form
* Then it will be divided by 11 so it will be evaluated as 3
* And then spam[3] will be evaluated as 'd'

In [4]:
spam = ['a','b','c','d']

spam[int(int('3'*2)/11)]

'd'

<hr>Q4. What is the value of spam[-1]?

<b>Solution:

* Index -1 will start looking into list in the reverse order so spam[-1] will be evaluated as 'd'

In [5]:
spam[-1]

'd'

<hr>Q5. What is the value of spam[:2]?
Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

<b>Solution:

* This will give the substring starting from index 0 till 1 because excluding 2.

In [7]:
spam[:2]

['a', 'b']

<hr>Q6. What is the value of bacon.index(&#39;cat&#39;)?

<b>Solution:

* Here bacon.index('cat') will evaluate as 1 because index() function finds the index of first occurence of the element mentioned inside index function

In [6]:
bacon = [3.14,'cat',11,'cat',True]
bacon.index('cat')

1

<hr>Q7. How does bacon.append(99) change the look of the list value in bacon?

<b>Solution:

* This will append 99 at the end of the list.

In [8]:
bacon.append(99)

bacon

[3.14, 'cat', 11, 'cat', True, 99]

<hr>Q8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

<b>Solution:

* It will remove first occurence of 'cat' from the list

In [10]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

<hr>Q9. What are the list concatenation and list replication operators?

<b>Solution:

* We can concatenate two or more list using + operator
* And we can replicate a list using * operator

In [15]:
list1 = [2,4,5,6,7]
list2 = [99,11,33,44,55,77]

print(f"List Concatenation : {list1+list2}")  #List Concatenation
print(f"List Replication : {list1*2}") # List Replication

List Concatenation : [2, 4, 5, 6, 7, 99, 11, 33, 44, 55, 77]
List Replication : [2, 4, 5, 6, 7, 2, 4, 5, 6, 7]

<hr>Q10. What is difference between the list methods append() and insert()?

                              
<b>Solution:

* append(element) always insert the element at the end of the list
* insert(index,element) inserts the element at the specified index

In [19]:
list3 = [2,3,4,5,6,7]
list3.append(99)
print(f"append() Function : {list3}")

list3.insert(1,101)
print(f"insert() function : {list3}")

append() Function : [2, 3, 4, 5, 6, 7, 99]
insert() function : [2, 101, 3, 4, 5, 6, 7, 99]

<hr>Q11. What are the two methods for removing items from a list?

<b>Solution:

* pop(index) : Removes element from the specific index
* remove(element) : Removes element specified in the function

In [36]:
list4 = [1,2,3,4,5]
list4.pop(2)
print(f"pop() method : {list4}")

list4.remove(2)
print(f"remove() method : {list4}")

pop() method : [1, 2, 4, 5]
remove() method : [1, 4, 5]

<hr>Q12. Describe how list values and string values are identical.

<b>Solution:

* Both can be categorized under sequence category
* Both List values and string values can be accessed using indexing
* Both List values and string values can be sliced using slicing operations
* Both can be concatenated and replicated

<hr>Q13. What&#39;s the difference between tuples and lists?

<b>Solution:

* The major difference between tuples and lists is that the tuples are immutable while lists are mutable. For example we cannot perform insert,append,pop,remove operations in tuple while we can perform them in lists.
* Tuples are surrounded by () normal parenthesis while lists are surrounded by [] square brackets

<hr>Q14. How do you type a tuple value that only contains the integer 42?

<b>Solution:

* To create tuple of single element we have to add , after the element.

In [27]:
tup1 = (42)
print(type(tup1))

tup2 = (42,)
print(type(tup2))

<class 'int'>
<class 'tuple'>

<hr>Q15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

<b>Solution:

In [34]:
list5 = [2,3,4,5,6,7]
print("List : ",list5)
tupForm = tuple(list5)
print("Tuple from List : ",tupForm)

tup5 = (6,7,99,0,11,3)
print("\nTuple : ",tup5)
listForm = list(tup5)
print("List from Tuple : ",listForm)

List :  [2, 3, 4, 5, 6, 7]
Tuple from List :  (2, 3, 4, 5, 6, 7)

Tuple :  (6, 7, 99, 0, 11, 3)
List from Tuple :  [6, 7, 99, 0, 11, 3]

<hr>Q16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?

                              
<b>Solution:

* Variable that contain list values not actually contains list themselves but they actually contain reference to the values of lists

<hr>Q17. How do you distinguish between copy.copy() and copy.deepcopy()?
                              
<b>Solution:

* <b>copy.copy() : </b> It make a copy of a list to a different memory location as explained in below example but for a nested list if we change the element of the list which is inside the main list then it also change into the other variable to which this list is assigned as explained in below example.

* <b>copy.deepcopy() : </b> In deep copy inner list of the main list also gets copied unlike shallow copy and if we try to change the inner list element of one list then it will not change that element in other list.

#### Shallow copy : copy.copy() with single dimensional list

In [45]:
import copy
l1 = [1,4,7,9]
l2 = copy.copy(l1)

l1,l2

([1, 4, 7, 9], [1, 4, 7, 9])

In [46]:
l2[2] = 99

In [47]:
l1,l2

([1, 4, 7, 9], [1, 4, 99, 9])

####  Shallow Copy : copy.copy() with multi dimensional list (Nested List)

In [48]:
l3 = [[1,2],[4,5]]
l4 = copy.copy(l3)

print("l3 : ",l3)
print("l4 : ",l4)

l3 :  [[1, 2], [4, 5]]
l4 :  [[1, 2], [4, 5]]

In [49]:
'''Here it will make changes to both the list l3 as well as l4 as we are 
    changing the inner list element and we have not created a copy of that list.
'''
l4[1][0] = 499

In [50]:
print("l3 : ",l3)
print("l4 : ",l4)

l3 :  [[1, 2], [499, 5]]
l4 :  [[1, 2], [499, 5]]

In [51]:
'''Here it will only make changes to the l3 because we are not changing the element of 
    inner list but directly replacing that whole inner list with new value which is 299.
'''
l3[1]= 299

In [52]:
print("l3 : ",l3)
print("l4 : ",l4)

l3 :  [[1, 2], 299]
l4 :  [[1, 2], [499, 5]]

#### Deep copy : copy.deepcopy() with single dimensional list

In [53]:
l5 = [1,2,3]
l6 = copy.deepcopy(l5)

print("l5 : ",l5)
print("l6 : ",l6)

l5 :  [1, 2, 3]
l6 :  [1, 2, 3]

In [54]:
'''
For single dimension list copy.copy() works same as copy.deepcopy()
'''
l6[0] = 69

In [55]:
print("l5 : ",l5)
print("l6 : ",l6)

l5 :  [1, 2, 3]
l6 :  [69, 2, 3]

####  Deep Copy : copy.deepcopy() with multi dimensional list (Nested List)

In [56]:
l7 = [[4,5],[7,9]]
l8 = copy.deepcopy(l7)

print("l7 : ",l7)
print("l8 : ",l8)

l7 :  [[4, 5], [7, 9]]
l8 :  [[4, 5], [7, 9]]

In [57]:
'''For Multi Dimension if I replace the whole inner list item with other list or a value then it will change in one list only as 
    happend in copy.copy()
'''
l8[0] = 699

In [58]:
print("l7 : ",l7)
print("l8 : ",l8)

l7 :  [[4, 5], [7, 9]]
l8 :  [699, [7, 9]]

In [59]:
'''
But if we try to change the element of inner list then also it will make change to that particular 
list only unlike we have seen in copy.copy() in above example.
'''

l8[1][0] = 3919

In [60]:
print("l7 : ",l7)
print("l8 : ",l8)

l7 :  [[4, 5], [7, 9]]
l8 :  [699, [3919, 9]]