# Assignment_6 - Escape Characters
### Author : Neelkumar Kalavadiya
### Submission Date : 28/05/2022, Saturday

<hr>Q1. What are escape characters, and how do you use them?

<b>Solution:

* They are the characters which are used to represent symbols, characters or whitespaces which are not allowed by a string by default.
* They can be using inside the string by typing "\\" and then the alphabet or a special character.

for example : "\\\\", "\n", "\t" etc....

<hr>Q2. What do the escape characters n and t stand for?

<b>Solution:

* \n : It inserts a new line in the string wherever it is mentioned in the string.
* \t : It inserts a tab (3 spaces) wherever it is in the string.

In [54]:
print("My name is Neel and\nMy mother's Name is Rekhaben")
print("And\tmy father's Name is Prakashbhai")

My name is Neel and
My mother's Name is Rekhaben
And	my father's Name is Prakashbhai

<hr>Q3. What is the way to include backslash characters in a string?

<b>Solution:

* We can inlcude backslash characters anywhere inside a string i.e double or single quotes and we can type backward slash followed by backslash character

<hr>Q4. The string &quot;Howl&#39;s Moving Castle&quot; is a correct value. Why isn&#39;t the single quote character in the
word Howl&#39;s not escaped a problem?

<b>Solution:

* Below example is correctly written even if the single quote is not escaped because whole string is surrounded by double quotes (" ") so single quote will not create any error and printed as expected.

In [4]:
"Howl's Moving Castle"

"Howl's Moving Castle"

In [13]:
print('Howl\'s Moving Castle')
print("Hello")
# print('Howl's Moving Castle')

Howl's Moving Castle
Hello

<hr>Q5. How do you write a string of newlines if you don&#39;t want to use the n character?

<b>Solution:

* We will use print() statement itself because "end" param of print statement is by default new line character

In [52]:
print("Hello I am first Line")
print() 
print()
print()
print()
print()
print()
print()
print()
print()
print()
print()
print("Hello I am Last Line")

Hello I am first Line











Hello I am Last Line

<hr>Q6. What are the values of the given expressions?
<br> &#39;Hello, world!&#39;[1]
<br> &#39;Hello, world!&#39;[0:5]
<br> &#39;Hello, world!&#39;[:5]
<br> &#39;Hello, world!&#39;[3:]


<b>Solution:

In [21]:
'Hello, world!'[1]

'e'

In [22]:
'Hello, world!'[0:5]

'Hello'

In [23]:
'Hello, world!'[:5]

'Hello'

In [24]:
'Hello, world!'[3:]

'lo, world!'

<hr>Q7. What are the values of the following expressions?
<br> &#39;Hello&#39;.upper()
<br> &#39;Hello&#39;.upper().isupper()
<br> &#39;Hello&#39;.upper().lower()

<b>Solution:

* It will make the whole string in uppercase alphabets

In [25]:
'Hello'.upper()

'HELLO'

* It will first make whole string in uppercase alphabets and then isupper() function will check whether the string is in uppercase or not and returns boolean value accordingly.

In [26]:
'Hello'.upper().isupper()

True

* It will first make the string in upper case and then into lowercase.

In [27]:
'Hello'.upper().lower()

'hello'

<hr>Q8. What are the values of the following expressions?
<br> &#39;Remember, remember, the fifth of July.&#39;.split()
<br> &#39;-&#39;.join(&#39;There can only one.&#39;.split())

<b>Solution:

* Below split() method will split the whole string whith space as delimiter and put them into a list

In [28]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

* Below 'character'.join() method joins the whole collection having string datatype items(list, tuples etc) or a string with a character in between whichever is mentioned before the join() mthod

In [51]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

<hr>Q9. What are the methods for right-justifying, left-justifying, and centering a string?

<b>Solution:

In [47]:
str1 = "I want to right justify"
str2 = "I want to left justify"
str3 = "I want to center justify"

print(str1.rjust(50,'_'))
print(str2.ljust(50,'_'))
print(str3.center(50,'_'))

___________________________I want to right justify
I want to left justify____________________________
_____________I want to center justify_____________

<hr>Q10. What is the best way to remove whitespace characters from the start or end?

<b>Solution:

In [32]:
str2 = "              I have white space at both the ends                                     "

print(str2)
print(str2.strip())

              I have white space at both the ends
I have white space at both the ends